header{
    text-align: center;
    background-color: blue;
    height: 100px;
    border-bottom: 5px solid rgb(9, 9, 63);
    color: antiquewhite;
}
main{
    width: 100%;
    height: 100%;
    background-color: bisque;

}
.box{
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: white;
    border-bottom: 5px solid blue;
    border-top: 5px solid blue;
    border-radius: 10px;
    
    }

    footer{
        background-color: darkblue;
        height: 50px;
        width: 100%;
        color: antiquewhite;
        text-align: center;
    }